<div ng-controller="BasicCenterController">

    <div class="page-header">
        <h1>Пример использования карты Leaflet</h1>
    </div>

    <leaflet  center="myCity"  tiles="tiles" defaults="defaults" layers="layers" markers="markers" width="700" height="480"></leaflet>
    <ul>
        <li><input type="number" step="any" ng-model="myCity.lat" /> Latitude</li>
        <li><input type="number" step="any" ng-model="myCity.lng" /> Longitude</li>
        <li><input type="number" step="any" ng-model="myCity.zoom" /> Zoom</li>
    </ul>
</div>